body {
    margin: 0px;
    overflow-x: hidden;
}


.navbar {
    background: linear-gradient(180deg, rgba(255, 246, 240, 0.38) 0%, rgba(251, 232, 233, 0.31) 57.44%, rgba(252, 252, 255, 0.57) 100%);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
    height: 70px;
    margin-bottom: 5px;
}

.navbar-right {
    float: right;
    display: block;
}

.about {

    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    text-decoration: none;
    /*  filter: invert(97%) sepia(2%) saturate(7500%) hue-rotate(293deg) brightness(110%) contrast(108%);*/

}




.github {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    text-decoration: none;
}

.home {
    margin-right: auto;

    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
    justify-content: space-between;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    text-decoration: none;
}

.home-icon, .about-icon, .github-icon {
    width: 30%;
    padding-left: 16px;
}

#menu-icon {
    margin: 5px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 20px;
}

.navbar-right {
    display: flex;
    width: 300px;
    height: 100%;
    justify-content: space-between;
}

.menu {
    display: none;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: #FFF6F0;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    transition: color 0.3s ease 0s;
    color: #5F5E76;
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    text-decoration: none;
}


.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 5%;
    right: -22%;
    font-size: 60px;
    color: #5F5E76;
}



.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: flex-end;
    position: absolute;
    width: 161.67px;
    height: 79px;
    left: 79px;
    top: 152px;
}


.title {
    height: 35px;
    left: 0%;
    right: 55.52%;
    top: calc(50% - 35px / 2 - 11px);

    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;


    color: #4C4C66;

    mix-blend-mode: normal;
    opacity: 0.9;
}

.title-text {
    height: 15px;
    left: 0.57%;
    right: 0%;
    top: calc(50% - 15px / 2 + 22px);

    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;


    color: #6F6C99;

    opacity: 0.7;
}

.filter-data {
    width: 88px;
    height: 21px;
    left: 369px;
    top: 216px;

    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #6F6C99;
}


.filter {

    width: 411px;
    flex-direction: row;
    margin-left: 300px;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    display: none;
    margin-top: 14px;
}
.filter label{
    height: 19px;
    left: 23.16%;
    right: 32.63%;
    top: calc(50% - 19px / 2 - 14.5px);

    font-family: ABeeZee;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    text-align: right;
    text-transform: capitalize;

    color: #FFFFFF;
}
.filter .options-container {
    background: rgb(128 125 186 / 90%);
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: #807DBA;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;

    order: 0;
    font-family: ABeeZee;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;


    text-transform: capitalize;

    color: #FFFFFF;
}

.selected::after {
    content: "";
    background: url("./assets/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.filter .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.filter .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.filter .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.filter .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.filter .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.filter .option:hover {
    background: #BCA0DC;
}

.filter label {
    cursor: pointer;
}

.filter .option .radio {
    display: none;
}
.total-cases {
    width: 190px;
    height: 74px;
    left: 509px;
    top: 148px;
    border-color: #807DBA;
    background: #807DBA;
    border-radius: 10px;

}

.total-cases-text {
    height: 19px;
    left: 23.16%;
    right: 32.63%;
    top: calc(50% - 19px / 2 - 14.5px);

    font-family: ABeeZee;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    text-align: right;


    color: #FFFFFF;
}

.up-graph {
    left: 32.11%;
    right: 51.05%;
    top: 61.85%;
    bottom: 25.14%;
    margin-right: 10px;
}

.up-logo {
    left: 58.95%;
    right: 37.89%;
    top: 63.51%;
    bottom: 28.38%;
    margin-right: 10px;

}

.percentage {
    height: 13px;
    left: 65.79%;
    right: 13.16%;
    top: calc(50% - 13px / 2 + 13.5px);

    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;



    color: #FFFFFF;
}

.new-cases {
    width: 190px;
    height: 74px;
    left: 719px;
    top: 148px;

    mix-blend-mode: normal;
    /* Dark / 3 */

    border: 1px solid #E2E2E8;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
}


.radio-selection:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}



.choice {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

.world-text,.country-text{
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-right: 15px;
    line-height: 32px;
    color: #6F6C99;
}


.choice:checked {
    background-color: #807DBA;
}

#cities{
    width: 232px;
    height: 31px;
    left: 620px;
    top: 369px;

    border: 1px solid #6F6C99;
    box-sizing: border-box;
    border-radius: 10px;
}
.radio-selection{

    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    min-height: 75px;
    max-height: 439px;
    width: 100%;
    left: 53px;
    margin-left: 380px;
    margin-bottom: 20px;
}

.date-selection{
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin-top: 14px;
}
#start,#end{
    border: 1px solid #6F6C99;
    box-sizing: border-box;
    border-radius: 10px;
}
#start-label,#end-label{
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-right: 15px;
    line-height: 32px;
    color: #6F6C99;
}
#end-label{
    margin-left: 50px;
}
#world-country-container{
    margin-right: 195px;
    margin-bottom: 10px;
}

.line, .circles {
    fill: none;
    clip-path: url(#clip);
}

.overlay {
    fill: none;
    pointer-events: all;
}

h3{
    width: 250px;
    height: 34.06px;
    left: 669.97px;
    top: 466.89px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 30px;
    text-transform: capitalize;
}
.rect-d{
    width: 730px;
    height: 540px;
    left: 603px;
    top: 464px;
    background: #BCA0DC;
    border-radius: 40px;
    padding: 1px;
}
svg{
    background: white;
    border-radius: 40px;
    transform: translate(2%);
}

.filter-text{
    margin-top: 10px;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    max-width: 100px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


#covid{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
}

.error{
    color: #6F6C99;
    text-align: center;
    padding: 100px;
}

.svg_globe{
    width:1000px;
    height: 1000px;
    transform: translate(5%, 10%);
    overflow: hidden;
}


@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }


}

@media only screen and (max-width: 800px) {
    body{
        overflow: hidden;
    }
    .navbar-right {
        display: none;
    }

    .menu {
        display: initial;
    }

    .total-cases,.new-cases,.total-deaths,.new-deaths,.new-vaccinations,
    .total-cases-per-million,.new-cases-per-million,.new-deaths-per-million,.total-deaths-per-million,.total-vaccinations-per-hundred{
        width: 177px;
        height: 60px;
    }


    .filter {
        flex-direction: row;
        position: absolute;
        z-index: 1;
        justify-content: space-between;
        display: none;
        min-height: 62px;
        max-height: 100px;
        gap: 0px;
        max-width: 160px;
        margin-left: 35%;
        margin-top: 5px;
    }
    .filter-text {
        display: flex;
        margin-top: 7px;
        width: 119px;
        height: 46px;
    }
    .selected ,.filter label{
        font-size: 14px;
    }
    .selected::after {
        top: 3px;
    }
    .filter .option, .selected {
        padding: 9px 24px;
    }
    .page-title{
        width: 174.67px;
        height: 60px;
        left: 108px;
        top: 73px;

    }
    .filter-data{
        margin-top: 0px;
        font-size: 16px;
    }


    .radio-selection{
        width: 370px;
        height: 147px;
        left: 50px;
        margin-left: 15px;
        margin-top: 80px;
    }

    #world-country-container{
        margin-left: 20px;
        margin-right: 0px;

    }
    .date-selection{
        width: 356px;
        height: 37px;

    }
    #end-label {
        margin-left: 0px;
    }
    #start,#end{
         height: 32px;
    }
    #start-label {
        width: 50px;
        margin-right: 0;
        font-size: 11px;
    }
    #end-label {
        width: 37px;
        margin-right: 0;
        font-size: 11px;
    }
    #covid{
        margin-right: 0;
        margin-left: 15px;
        margin-top: 43px;

    }
    svg{
        width: 360px;
        height: 300px;
        transform: translate(0%,-7%);
    }
    .svg_globe{

        width: 600px;
        height: 600px;
        transform: scale(0.5) translate(-40%, -25%);
        position: absolute;
        overflow: hidden;
    }
    .rect-d{
        width: 360px;
        height: 352px;
        transform: translate(-2%,-7%);
    }
    h3{
        width: 145px;
        font-size: 14px;
        margin-left: 6px;
    }
}
