body {
    margin: 0px;
}


.navbar {
    background: linear-gradient(180deg, rgba(255, 246, 240, 0.38) 0%, rgba(251, 232, 233, 0.31) 57.44%, rgba(252, 252, 255, 0.57) 100%);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
    height: 70px;
}

.navbar-right {
    float: right;
    display: block;
}

.about {

    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    text-decoration: none;
    /*  filter: invert(97%) sepia(2%) saturate(7500%) hue-rotate(293deg) brightness(110%) contrast(108%);*/

}


#rect {
    position: absolute;
    width: 106px;
    height: 47px;
    left: 1643px;
    top: 43px;

    background: #6F6C99;
    border-radius: 10px;
}

.github {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    text-decoration: none;
}

.home {
    margin-right: auto;

    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    text-decoration: none;
}

.home-icon, .about-icon, .github-icon {
    width: 30%;
    padding-left: 16px;
}
#menu-icon{
    margin: 5px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-right {
    display: flex;
    width: 300px;
    height: 100px;
    justify-content: space-between;
}

.menu {
    display: none;
}



.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #FFF6F0;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    transition: color 0.3s ease 0s;
    color: #5F5E76;
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    text-decoration: none;
}


.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}
.overlay .close {
    position: absolute;
    top: 5%;
    right: -22%;
    font-size: 60px;
    color: #5F5E76;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

@media only screen and (max-width: 800px) {
    .navbar-right
     {
        display: none;
    }
    .menu {
        display: initial;
    }
}
