.landing_page{
    position: fixed;

    left: 0px;
    top: 0px;
    max-width: 100%;

    right: 0;
    bottom: 0;
    background-image: url("./assets/bg.png");




    background-repeat: no-repeat;
    background-size: cover;
}






#start{
    position: fixed;
    width: 15%;
    height: 10%;
    left: 35%;
    top: 65%;

    right: 35%;
    max-width: 360px;


    background: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
    mix-blend-mode: normal;
    opacity: 0.8;
    box-shadow: 0px 5px 34px rgba(186, 19, 88, 0.42);
    border-radius: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    font-max-size: 30px;
    line-height: 70%;
    color: #FFFFFF;
}


#container1{
    position: fixed;
    width: 40%;
    height: 55%;
    left: 20%;
    top: 15%;

    right: 40%;
    max-width: 460px;
    min-width: 360px;
    background: #391156;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}



#covid-19{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 15%;
    top: 5%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    /* identical to box height */


    color: #FFFFFF;
}

#Data-Visualisation{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 5%;
    top: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */


    color: #FFFFFF;
}

#para1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 5%;
    top: 60%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
}
#para2{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 5%;
    top: 80%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
}


@media only screen
and (min-device-width : 360px)
and (max-device-width : 360px)
{
    .landing_page{

        background-position: bottom;
    }
    #container1{

        left: 0%;
        top: 10%;


    }
    #covid-19{
        left: 7%;

    }
    #Data-Visualisation{
        left: 2%;
        text-align: center;
        font-size: 310%;

    }
    #para1{
        text-align: center;
        left: 0%;
        top: 65%;
    }
    #para2{
        text-align: center;
        left: 2%;
    }
    #start{
        width: 150px;
        left:33%;
    }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 375px)
{
    .landing_page{

        background-position: bottom;
    }
    #container1{

        left: 2%;
        top: 10%;


    }
    #covid-19{
        left: 7%;

    }
    #Data-Visualisation{
        left: 2%;
        text-align: center;
        font-size: 310%;

    }
    #para1{
        text-align: center;
        left: 0%;
        top: 65%;
    }
    #para2{
        text-align: center;
        left: 2%;
    }
    #start{
        width: 150px;
        left:33%;
    }

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 414px)
{
    .landing_page{

        background-position: bottom;
    }
    #container1{

        left: 7%;
        top: 10%;

    }
    #covid-19{
        left: 5%;

    }
    #Data-Visualisation{
        left: 2%;
        text-align: center;
        font-size: 310%;

    }
    #para1{
        text-align: center;
        left: 0%;
        top: 65%;
    }
    #para2{
        text-align: center;
        left: 2%;
    }
    #start{
        width: 150px;
    }

}

@media only screen
and (min-device-width : 411px)
and (max-device-width : 411px)

{
    .landing_page{

        background-position: bottom;
    }
    #container1{

        left: 8%;
        top: 10%;

    }

    #covid-19{
        left: 5%;

    }
    #Data-Visualisation{
        left: 2%;
        text-align: center;
        font-size: 310%;

    }
    #para1{
        text-align: center;
        left: 0%;
        top: 65%;
    }
    #para2{
        text-align: center;
        left: 2%;
    }
    #start{
        width: 150px;
    }



}

@media only screen
and (min-device-width : 500px)
{
    #container1{

        left: 20%;
        top: 10%;

    }
    #start{
        width: 150px;
        left: 40%;

    }

}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 320px)
{
    .landing_page{

        background-position: bottom;
    }
    #container1{

        left: 3%;
        top: 10%;

    }
    #start{
        width: 150px;
    }

    #covid-19{
        left: 10%;
        font-size: 400%;

    }
    #Data-Visualisation{
        left: -6%;
        text-align: center;
        font-size: 250%;

    }
    #para1{
        text-align: center;
        left: -6%;
        font-size: 200%;
        top: 50%;
    }
    #para2{
        text-align: center;
        left: -6%;
        font-size: 140%;
    }
    #start{
        width: 150px;
        left:33%;
    }
}

.toolbar{
    position: absolute;
    width: 1920px;
    height: 111px;
    left: 0px;
    top: -3px;

    background: linear-gradient(180deg, rgba(255, 246, 240, 0.38) 0%, rgba(251, 232, 233, 0.31) 57.44%, rgba(252, 252, 255, 0.57) 100%);
}

.about{
    position: absolute;
    width: 95px;
    height: 40px;
    left: 1647px;
    top: 46px;
}

.github{
    position: absolute;
    width: 99px;
    height: 40px;
    left: 1779px;
    top: 46px;
}
.home{
    position: absolute;
    width: 88px;
    height: 21px;
    left: 233px;
    top: 50px;
}


